.cases {
  background: linear-gradient(358.09deg, #000000 18.23%, #FFE5AF 196.63%);;
  padding: 0 10px 10px 18px;
  margin-bottom: 408px;
  position: relative;

  @include desktop {
    padding: 0 40px 10px 18px;
    margin-bottom: 108px;
  }
}

.cases::after {
  content: "";
  position: absolute;
  background-image: url("../img/big-bg-star.svg");
  width: 448px;
  height: 496px;
  background-repeat: no-repeat; 
  bottom: -372px;
  right: -174px;

  @include desktop {
    background-image: url("../../../img/big-star-desk.svg");
    width: 1148px;
    height: 1356px;
    bottom: -48px;
    right: -390px;
  }
}

.cases__title {
  font-size: 108px;
  color: $main-text-color;
  font-family: "Futura Demi C", sans-serif;
  font-weight: 400;
  line-height: 128px;
  margin: 0 0 38px -28px;
  text-align: start;

  @include desktop {
    font-size: 310px;
    line-height: 375px;
    margin: 0 0 60px -58px;
  }
}

.cases__subtitle {
  color: $light-text-color;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: block;
  width: 128px;
  margin-left: auto;
  text-align: end;
  margin-bottom: 230px;
  position: relative;

  @include desktop {
    font-size: 27px;
    line-height: 33px;
    width: 408px;
  }
}

#weddings::before {
  content: "";
  position: absolute;
  background-image: url("../img/first-row-bg-events.svg");
  background-repeat: repeat-x;
  width: 428px;
  height: 176px;
  top: 38px;
  left: -202px;

  @include desktop {
    background-image: url("../../../img/first-row-bg-weddings-desk.svg");
    width: 960px;
    height: 488px;
    top: 98px;
    left: -511px;
  }
}

#weddings::after {
  content: "";
  position: absolute;
  background-image: url("../img/stars-group.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 26px;
  top: 48px;
  left: -160px;

  @include desktop {
    background-image: url("../../../img/Group-stars-desk.svg");
    width: 78px;
    height: 68px;
    top: 126px;
    left: -362px;
  }
}

#events{
  @include desktop {
    margin-top: 670px;
    margin-bottom: 1670px;
  }
}

#events::before {
  content: "";
  position: absolute;
  background-image: url("../../../img/second-row-bg-events.svg");
  background-repeat: repeat-x;
  width: 578px;
  height: 176px;
  top: 38px;
  left: -202px;
  
  @include desktop {
    background-image: url("../../../img/second-row-bg-weddings-desk.svg");
    width: 960px;
    height: 495px;
    top: 128px;
    left: -512px;
  }
}

#events::after {
  content: "";
  position: absolute;
  background-image: url("../img/stars-group.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 26px;
  top: 28px;
  left: -76px;

  @include desktop {
    background-image: url("../../../img/Group-stars-desk.svg");
    width: 78px;
    height: 68px;
    top: 92px;
    left: -175px;
  }
}
