.container {
  background-color: $main-bg-color;
  width: 100%;
  max-width: $mobile-width;
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;

  @include desktop {
    max-width: $desktop-width;
  }
}

.container__wrapper {
  @include desktop {
    background-image: url("../img/background-hero-desk.png");
    background-repeat: no-repeat;
  }
}
