@font-face {
  font-family: "Futura Book C";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FuturaBookC.woff2), url(../fonts/FuturaBookC.woff);
}

@font-face {
  font-family: "Futura Demi C";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/FuturaDemiC.woff2), url(../fonts/FuturaDemiC.woff);
}