//colors
$main-bg-color: rgba(0, 0, 0, 1);
// $trasnperent-bg-color: rgba(0, 0, 0, 0);
$secondary-bg-color: rgba(30, 30, 28, 1);

$main-text-color: rgba(255, 245, 182, 1);
$secondary-text-color: rgba(234, 214, 113, 1);

//width
$mobile-width: 350px;
$desktop-width: 970px;